{{- if eq .chezmoi.os "darwin" -}}
# Load homebrew
eval "$(/usr/local/bin/brew shellenv)"
{{- end -}}

# =================================================================================================================
# Exports
# =================================================================================================================
# Preferred editor
export EDITOR='nvim'

# GPG vars
export LANG=en_US.UTF-8
export GPG_TTY=$(tty)

# =================================================================================================================
# Additional aliases
# =================================================================================================================
alias be='bundle exec'
alias brew-update='brew update; brew outdated; brew upgrade; brew cleanup; brew doctor;'
alias doco='docker-compose'
alias e='nvim'
alias ll='ls -al'
alias tf='terraform'
alias yamllint='docker run --rm -it -v $(pwd):/data cytopia/yamllint'

# =================================================================================================================
# Import local settings not meant to be checked into Git
# =================================================================================================================

local_profile="$HOME/.zshrc.local"
if [ -f $local_profile ]; then
    source $local_profile
else
    print "404: $local_profile not found."
fi

export PATH=$HOME/.local/bin:$PATH
export KUBECONFIG=$HOME/k3s.yaml

source ~/.zsh/zsh-autosuggestions/zsh-autosuggestions.zsh
source ~/.zsh/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh

(figlet -w 100 -f doom $(hostname -s); fortune | cowthink -f stegosaurus) | lolcat

{{ if eq .chezmoi.os "darwin" -}}
export SSH_AUTH_SOCK=$HOME/Library/Group\ Containers/2BUA8C4S2C.com.1password/t/agent.sock
{{ else if eq .chezmoi.os "linux" -}}
export SSH_AUTH_SOCK=~/.1password/agent.sock
{{ end -}}

{{ if eq .chezmoi.os "darwin" }}
eval "$(/usr/local/bin/mise activate zsh)"
{{ else if eq .chezmoi.os "linux" }}
eval "$(mise activate zsh)"
{{ end }}

eval "$(starship init zsh)"
